header .burger-menu {
background-color: var(--ligth_blue);
color: white;
width: 50px;
padding: 15px;
border-radius: 5px;
text-align: center;
margin: 20px auto 20px;
font-size: 20px;
/* top right bottom left */
/* top right-left bottom */
}
.main-header-top-bar{
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 30px 0;
}
form.search-form{
    height: 30px;
display: flex;
width: 100%;
}


input.search-form_input{
    margin-left: 6px;
    width: 90%;
    border: none;
    border-radius: 4px;

}
button.search-form_button{
    /* margin-left: 6px;
    padding: 4px; */
    border: none;
    border-radius: 4px;
    background-color: white;
    position: relative;
    left: -6px;
}

.container-search{
display: flex;
width: 50%;
}
.main-header{
background-color: var(--amarillo);
font-size:12px;
padding-bottom: 10px;

}
header .logo {
display: flex;
width: 50%;
padding-left: 25px;

}

.copy-header{
font-weight: 400;
text-align: center;
margin: 20px;
}
.main-navbar{
display: none;
}
.main-navbar ul{
list-style: none;
margin: 0;
padding: 0;
}
.main-navbar ul li a{
text-decoration: none;
color:rgb(41, 40, 40);
display: inline-block;
padding: 5px 0;
font-size: 18px;
}



/* search-bar */


@media(min-width:768px){
.main-header-top-bar{
display:flex;
justify-content: space-between;
flex-wrap: nowrap;
align-items: center;

}
header .logo {    
width: 30%;
}
.container-search{
width: 25%;
}

button.search-form_button{
    margin-left: 6px;
    padding: 4px;
    border: 1px solid var(--gris);
    position: initial;
   
}


.copy-header{
    margin:0 8px 0 0;
    font-size: 16px;
    padding: 0 5px;
    text-align:start;
}

.burger-menu{
display: none;

}
.main-navbar{
display: flex;
justify-content: space-between;
}
.main-navbar ul{
display: flex;
}
.main-navbar ul li{
margin: 0 5px;
}


}


@media(min-width:1200px){
.main-header-top-bar, .main-navbar{
max-width: 1200px;
margin: auto;

}
.main-header-top-bar{
align-items: center;
}

.logo{
width: 250px;
}
.main-navbar{
margin-top: 30px;
}
.main-navbar li{
margin: 0 1opx;
}
.main-navbar a{
font-size: 19px;
}
.copy-header{
max-width: none;
font-size: 22px;
font-weight: 400;
margin: 0;
}
}
