:root{
    --amarillo: #EAC926;
    --Azul: #03264C;
    --ligth_blue: #1259c3;
    --Gris : #666;
   --Gris-claro : #ebebeb;
    --Verde: #39b54a;
--paragraph:12px;
--title:24px;
--prices:18px;
--discount-descripcion:16px;


}